<!DOCTYPE html>
<html>
<head>
    <title>Campus Event Portal</title>
</head>
<body>
    <h1>Campus Event Registration</h1>

    <form action="/register" method="POST">
        Name: <input type="text" name="name"><br><br>
        Email: <input type="email" name="email"><br><br>

        Event:
        <select name="event">
            <option>Hackathon</option>
            <option>Coding Contest</option>
            <option>Workshop</option>
        </select><br><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>